<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WMLiB</title>

    <!-- WM CSS Lib -->
    <link href="../css/wmcsslib.css" rel="stylesheet">
    <!-- DataTables -->
    <link href="../css/jquery.datatables.css" rel="stylesheet">
    <!-- more styles for datatables and components -->
    <link href="../css/estil.css" rel="stylesheet">
    <link href="../css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
  div.block {
    position: relative;
    background-color: #abc;
    width: 500px;
    height: 90px;
    margin: 5px;
    z-index: 1;
  }
  div.panel-hide{
	position: relative;
	z-index: 2;
	overflow-x: hidden;
  }
  </style>
  </head>
  <body>
  	<div id="wrapper" class="page-wrap">
  	<header>
  		<div class="js-include" title="nav.html" data-class="js"></div>	
  	</header> 
  
	  	<div class="container">
	  		<div class="bradcrumb mtl">
	  			<ol class="breadcrumb">
				  <li><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
				  <li><a href="js_widgets.html">Javascript widgets</a></li>
				  <li class="active">DataTables</li>
				</ol>
	  		</div>
	  		<h1>DataTables</h1>
	  		<hr>
	  		<div class="row">
	  			<div class="col-sm-12">
	  				<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading"><span class="lead">Advanced table</span></div>
						<div class="panel-body">
							<div class="panel-group" id="accordion">
								  <div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#advsearch">
								          Advanced search
								        </a>
								      </h4>
								    </div>
								    <div id="advsearch" class="panel-collapse collapse">
								      <div class="panel-body">
								      	<form class="form-horizontal">
								      		<div class="form-group">
								      			<label class="col-sm-2 label-control">Global filter</label>
								      			<div class="col-sm-10">
								      				<input type="text" class="global_filter form-control" id="global_filter">
								      			</div>
								      		</div>
								      		<div class="form-group">
								      			<label class="col-sm-2 label-control">Title</label>
								      			<div class="col-sm-10" data-column="1">
								      				<input type="text" class="column_filter form-control" id="col1_filter">
								      			</div>
								      		</div>
								      		<div class="form-group">
								      			<label class="col-sm-2 label-control">Artist</label>
								      			<div class="col-sm-10" data-column="2">
								      				<input type="text" class="column_filter form-control" id="col2_filter">
								      			</div>
								      		</div>
								      		<div class="form-group">
								      			<label class="col-sm-2 label-control">Label</label>
								      			<div class="col-sm-10" data-column="3">
								      				<input type="text" class="column_filter form-control" id="col3_filter">
								      			</div>
								      		</div>
								      		<div class="form-group">
								      			<label class="col-sm-2 label-control">Remixer</label>
								      			<div class="col-sm-10" data-column="4">
								      				<input type="text" class="column_filter form-control" id="col4_filter">
								      			</div>
								      		</div>
								      		<div class="form-group">
										    <div class="col-sm-offset-2 col-sm-10">
										      <button type="button" class="btn btn-default clear">Clear filters</button>
										    </div>
										  </div>
								      	</form>
								      </div>
								    </div>
								  </div>
								  <div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#how">
								          How I can use dateTables
								        </a>
								      </h4>
								    </div>
								    <div id="how" class="panel-collapse collapse">
								      <div class="panel-body">
								        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								      </div>
								    </div>
								  </div>
								</div>
							<div class="table-responsive">
							<table class="table table-bordered stripe hover display dataTable table-responsive" id="table2">
								<thead>
									<tr class="filter">
										<th></th>
										<th></th>
										<th></th>
										<th class="filters">Title</th>
										<th class="filters">Artist</th>
										<th class="filters">Label</th>
										<th class="filters">Remixer</th>
										<th></th>
									</tr>
									<tr class="sort">
										<th></th>
										<th></th>
										<th>Track&nbsp;&nbsp;</th>
										<th>Title</th>
										<th>Artist</th>
										<th>Label</th>
										<th>Remixer</th>
										<th></th>
									</tr>
									
								</thead>
								<tbody>
									
									<tr>
										<td></td>
										<td></td>
										<td>01</td>
										<td>I Feel For You (MAGDA vs NYMA Don't Fall Mix)</td>
										<td>Chaka Khan</td>
										<td></td>
										<td></td>
										<td>
											<div class="actions">
												<a class="btn" href="#"><i class="fa fa-edit"></i></a>
												<a class="btn" href="#"><i class="fa fa-trash"></i></a>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td>02</td>
										<td>King Kobra (Original Mix)</td>
										<td>Hyenah</td>
										<td>Freerange Records</td>
										<td></td>
										<td>
											<div class="actions">
												<a class="btn" href="#"><i class="fa fa-edit"></i></a>
												<a class="btn" href="#"><i class="fa fa-trash"></i></a>
											</div>
										</td>
									</tr>
									
								</tbody>
								
							</table>
							</div>
						</div>  
					</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-sm-12 mbl">
	  				<div class="more-info">
						<a href="http://www.datatables.net/" class="btn btn-link">dataTables more info here</a>
					</div>
					<div class="back-home mbm">
						<a href="home.html" class="btn btn-icon"><i class="fa fa-chevron-circle-left"></i> back to home</a>
					</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
  	
  	
    <!-- /#wrapper -->
    <footer class="site-footer toggle">
  		<div class="container">
  			<p class="text-muted text-center mtl">&copy; WhiteMind - <a href="http://www.whitemind.es" target="_blank">www.whitemind.es</a> - <a href="http://www.wmhome.es" target="_blank">www.wmhome.es</a></p>
  		</div>
  	</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/components/jasny/jasny-bootstrap.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css"></script>
    <!-- Scripts for datatables -->
    <script src="../js/components/datatable/datatable.js"></script>
    <script src="../js/components/chosen/chosen.jquery.min.js"></script>
    <script>
    	$( "#right" ).click(function() {
		  $( ".block" ).animate({ "left": "+=50px" }, "slow" );
		});
		 
		$( "#left" ).click(function(){
		  $( ".block" ).animate({ "left": "-=50px" }, "slow" );
		});
		function filterGlobal () {
		$('#table2').DataTable().search(
		    $('#global_filter').val(),
		    $('#global_regex').prop('checked'),
		    $('#global_smart').prop('checked')
		).draw();
		}
		
		function filterColumn ( i ) {
		$('#table2').DataTable().column( i ).search(
		    $('#col'+i+'_filter').val(),
		    $('#col'+i+'_regex').prop('checked'),
		    $('#col'+i+'_smart').prop('checked')
		).draw();
		}
		/* Formatting function for row details - modify as you need */
		function format ( d ) {
		    // `d` is the original data object for the row
		    return '<table>'+
		        '<tr>'+
		            '<td>Full name:</td>'+
		            '<td>SergiPiu</td>'+
		        '</tr>'+
		        '<tr>'+
		            '<td>Extension number:</td>'+
		            '<td>6969</td>'+
		        '</tr>'+
		        '<tr>'+
		            '<td>Extra info:</td>'+
		            '<td>And any further details here (images etc)...</td>'+
		        '</tr>'+
		    '</table>';
		}
	  jQuery(document).ready(function() {
	    
	    jQuery('#table1').dataTable();
	    
	    // Setup - add a text input to each footer cell
	    jQuery('#table2 thead tr.filter th.filters').each( function () {
	        var title = jQuery('#table2 thead th').eq( $(this).index() ).text();
	        $(this).html( '<input type="text" class="form-control" placeholder="Search '+title+'" />' );
	    } );
	 
	    // DataTable
	    var table = jQuery('#table2').DataTable({
	      "sPaginationType": "full_numbers",
	      "columnDefs": [ 
	      {
	      	"class": "checkable",
            "searchable": false,
            "orderable": false,
            "targets": 0,
            "data": null,
            "defaultContent": '<input type="checkbox">'
        },
	      {
	      	"class": "details-control",
            "searchable": false,
            "orderable": false,
            "targets": 1,
            "data": null,
            "defaultContent": '<i class="glyphicon glyphicon-plus"></i>'
        } ],
        "order": [[ 2, 'asc' ]]
	    });
	    $('#table2 tbody').on( 'click', 'tr td.checkable', function () {
	    	//alert("hola");
	        $(this).parent().toggleClass('selected');
	    } );
	    /**Poner numero a la fila 1
	    table.on( 'order.dt search.dt', function () {
	        table.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
	            cell.innerHTML = i+1;
	        } );
	    } ).draw();
	    **/
	    // Apply the filter
	    jQuery("#table2 thead input").on( 'keyup change', function () {
	        table
	            .column( $(this).parent().index()+':visible' )
	            .search( this.value )
	            .draw();
	    } );
	    
	    jQuery('input.global_filter').on( 'keyup click', function () {
        filterGlobal();
	    } );
	    
	    jQuery('input.column_filter').on( 'keyup click', function () {
	        filterColumn( $(this).parents('div').attr('data-column') );
	    } );
	    // Add event listener for opening and closing details
	    jQuery('#table2 tbody').on('click', 'td.details-control', function () {
	        var tr = $(this).parents('tr');
	        var row = table.row( tr );
	 
	        if ( row.child.isShown() ) {
	            // This row is already open - close it
	            row.child.hide();
	            tr.removeClass('shown');
	            jQuery(this).html('<i class="glyphicon glyphicon-plus"></i>');
	        }
	        else {
	            // Open this row
	            row.child( format(row.data()) ).show();
	            tr.addClass('shown');
	            jQuery(this).html('<i class="glyphicon glyphicon-minus"></i>');
	        }
	    } );
	    jQuery('.clear').on("click", function(){
	    	jQuery('input.global_filter, input.column_filter').val("");
	    	jQuery('input.global_filter').focus();
	    });
	    // Chosen Select
	    jQuery("select").chosen({
	      'min-width': '100px',
	      'white-space': 'nowrap',
	      disable_search_threshold: 10
	    });
	    
	    // Delete row in a table
	    jQuery('.delete-row').click(function(){
	      var c = confirm("Continue delete?");
	      if(c)
	        jQuery(this).closest('tr').fadeOut(function(){
	          jQuery(this).remove();
	        });
	        
	        return false;
	    });
	    
	    // Show aciton upon row hover
	    jQuery('.table-hidaction tbody tr').hover(function(){
	      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
	    },function(){
	      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
	    });
	  
	  
	  });
	  </script>
	  <script>
		//Script to include files and components
		$(".js-include").each(function(){
		    var inc=$(this);
		    $.get(inc.attr("title"), function(data){
		        inc.replaceWith(data);
		    });
		});
	  </script>
  </body>
</html>