<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WMLiB</title>

    <!-- WM CSS Lib -->
    <link href="../css/wmcsslib.css" rel="stylesheet">
    <link href="../css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="page-wrap">
	  	<header>
	  		<div class="js-include" title="nav.html" data-class="js"></div>
	  	</header>
	  	<div class="container">
	  		<div class="bradcrumb mtl">
	  			<ol class="breadcrumb">
				  <li><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
				  <li class="active">Javascript widgets</li>
				</ol>
	  		</div>
	  		<h1>Javascript widgets</h1>
	  		<hr>
	  		
	  		<div class="row">
	  			<div class="col-sm-12">
	  				<div class="list-group">
					  <a href="datatables.html" class="list-group-item">
					    <h4 class="list-group-item-heading">DataTables</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="datetimepicker.html" class="list-group-item">
					    <h4 class="list-group-item-heading">DateTimepicker</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="uploadfiles.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Upload files</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="uploadfiles_2.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Upload files 2</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="side_nav.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Side nav</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="side_nav_2.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Side nav 2</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="side_nav_3.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Side nav 3</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="side_nav_4.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Side nav 4</h4>
					    <p class="list-group-item-text">Slide And Push Menus With CSS3 Transitions.</p>
					  </a>
					  <a href="sticky_menu.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Sticky menu</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="carousel.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Carousel</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="megamenu.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Megamenu</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					  <a href="calendar.html" class="list-group-item">
					    <h4 class="list-group-item-heading">Calendar</h4>
					    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					  </a>
					</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-sm-12 mbl">
	  				<div class="back-home mbm">
						<a href="home.html" class="btn btn-icon"><i class="fa fa-chevron-circle-left"></i> back to home</a>
					</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
  	<footer class="site-footer">
  		<div class="container">
  			<p class="text-muted text-center mtl">&copy; WhiteMind - <a href="http://www.whitemind.es" target="_blank">www.whitemind.es</a> - <a href="http://www.wmhome.es" target="_blank">www.wmhome.es</a></p>
  		</div>
  	</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/components/jasny/jasny-bootstrap.min.js"></script>
    <script>
    //Script to include files and components
    $(".js-include").each(function(){
	    var inc=$(this);
	    $.get(inc.attr("title"), function(data){
	        inc.replaceWith(data);
	    });
	});
    </script>
  </body>
</html>