<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WMLiB</title>

    <!-- WM CSS Lib -->
    <link href="../css/wmcsslib.css" rel="stylesheet">
    <link href="../css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div id="wrapper" class="page-wrap">
  	<header>
  		<div class="js-include" title="nav.html" data-class="js"></div>	
  	</header> 
  	<div id="page-content-wrapper">
	  	<div class="container">
	  		<div class="row">
	  		<div class="megamenu col-xs-12">
				<ul class="list-unstyled list-inline">
					<!-- Megamenu 1 demo-->
					<li class="dropdown megamenu-fw">		
						<a href="#" class="dropdown-toggle menu-item mg" data-toggle="dropdown" role="button" aria-expanded="false">Megamenu <span class="caret"></span></a>
						<div class="megamenu-content dropdown-menu pan">
							<ul>
								<li class="dropdown-header text-center green" style="padding-bottom: 15px; border-bottom: 1px solid #555; background: #1abc9c;color: white; margin-top: 0; margin-bottom: 0;">
									<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
									<h4 style="white-space: normal;"><i class="fa fa-refresh fa-spin"></i> Everything you need for your next creative project.</h4>
									<small class="" style="font-size: 13px; font-weight: normal; white-space: normal;">Over 4.5 million digital products created by a global community of designers, developers, photographers, illustrators &amp; producers.</small>
									<p class="" style="font-size: 14px; font-weight: normal;"><i class="fa fa-arrow-down"></i> Try to click... <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i> Try to resize</p>
								</li>
							</ul>
							<ul class="list-inline sub-megamenu">
								<li class="col-sm-2 col-xs-6 pan dropdown sub-drop">
									<a href="#themeforest" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-star" style="color: #1abc9c"></i> Item 1<span class="desc"> description</span></a>
								</li>
								<li class="col-sm-2 col-xs-6 pan">
									<a href="#codecanyon" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-star" style="color: #e78733;"></i> Item 2<span class="desc"> description</span></a>
								</li>
								<li class="col-sm-2 col-xs-6 pan">
									<a href="#videohive" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-star" style="color: #e7a802;"></i> Item 3<span class="desc"> description</span></a>
								</li>
								<li class="col-sm-2 col-xs-6 pan">
									<a href="#activeden" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-star" style="color: #d35400;"></i> Item 4<span class="desc"> description</span></a>
								</li>
								<li class="col-sm-2 col-xs-6 pan">
									<a href="#3docean" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-star" style="color: #ab0f34;"></i> Item 5<span class="desc"> description</span></a>
								</li>
								<li class="hidden-xs col-lg-2 col-md-2 col-sm-2 pan dropdown-center-onhover no-fix rtl" style="position: relative;"><i class="fa fa-chevron-down mgdropdowncaret"></i>
									<a data-toggle="collapse" data-target="#id_3" class="dropdown-toggle collapsed"><i class="fa fa-star" style="color: #308eb1"></i><i class="fa fa-star" style="color: #9ac130"></i><i class="fa fa-star" style="color: #0f8c98"></i> More...<span class="desc">See more options</span></a>
									<ul class="h-divided dropdown-menu pan collapse col-lg-2 col-md-2 col-sm-2 col-xs-6 sub-ul" style="min-width: calc(100% + 2px); max-width: calc(100% + 2px); right: calc(-2px) !important; width: calc(100% + 2px) !important; position: absolute; left: 0; top: 100%; bottom: auto; z-index: 1001; padding: 15px; overflow: visible; margin: 0px;" id="id_3">
										<li class="more"><a href="#graphicriver" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #308eb1"></i> Item 6<span class="desc"> description</span></a></li>
										<li class="more"><a href="#audiojungle" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #9ac130"></i> Item 7<span class="desc"> description</span></a></li>
										<li class="more"><a href="#photodune" role="tab" data-toggle="tab"><i class="fa fa-star" style="color: #0f8c98"></i> Item 8<span class="desc"> description</span></a></li>
									</ul>
								</li>
							</ul>
							<div id="myTabContent" class="tab-content sub-megamenu">
<div class="tab-pane" id="themeforest">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="margin: 0 -1px; width: calc(100% + 2px); padding:0 15px;">
<h4 style="background: #1abc9c; color: white;">
16,000+ Site Templates and Themes from $3
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">WordPress</a></li>
<li><a href="javascript:void(0);">HTML</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Marketing</a></li>
<li><a href="javascript:void(0);">CMS <span class="label label-danger pull-right">New</span></a></li>
<li><a href="javascript:void(0);">eCommerce</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">PSD</a></li>
<li><a href="javascript:void(0);">Tumblr</a></li>
<li><a href="javascript:void(0);">Ghost</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Muse</a></li>
<li><a href="javascript:void(0);">Plugins</a></li>
<li><a href="javascript:void(0);">More...</a></li>
</ul>
</div>
</div>
<div class="tab-pane" id="codecanyon">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
<h4 style="background: #e78733; color: white;">
10,000+ Scripts and Snippets from $2
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">PHP Scripts</a></li>
<li><a href="javascript:void(0);">WordPress</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">eCommerce</a></li>
<li><a href="javascript:void(0);">JavaScript</a></li>
<li><a href="javascript:void(0);">CSS</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Mobile</a></li>
<li><a href="javascript:void(0);">HTML5</a></li>
<li><a href="javascript:void(0);">Skins</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">WP Themes</a></li>
<li><a href="javascript:void(0);">Plugins</a></li>
<li><a href="javascript:void(0);">More</a></li>
</ul>
</div>
</div>
<div class="tab-pane " id="videohive">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
<h4 style="background: #e7a802; color: white;">
100,000+ Royalty Free Video Files from $2
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">Project Files</a></li>
<li><a href="javascript:void(0);">Product Promo</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Apple Motion</a></li>
<li><a href="javascript:void(0);">Motion Graphics</a></li>
<li><a href="javascript:void(0);">Stock Footage</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Cinema 4D Templates</a></li>
<li><a href="javascript:void(0);">Add Ons</a></li>
<li><a href="javascript:void(0);">Logo Files</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">News Files</a></li>
<li><a href="javascript:void(0);">Wedding Files</a></li>
<li><a href="javascript:void(0);">More</a></li>
</ul>
</div>
</div>
<div class="tab-pane " id="activeden">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
<h4 style="background: #d35400; color: white;">
11,000+ Flash &amp; Flex Files from $1
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">Unity 3D</a></li>
<li><a href="javascript:void(0);">Flash</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Animations</a></li>
<li><a href="javascript:void(0);">Games</a></li>
<li><a href="javascript:void(0);">Site Templates</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Video Players</a></li>
<li><a href="javascript:void(0);">Image Viewers</a></li>
<li><a href="javascript:void(0);">Flex</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Facebook Themes</a></li>
<li><a href="javascript:void(0);">JSFL Extensions</a></li>
<li><a href="javascript:void(0);">More</a></li>
</ul>
</div>
</div>
<div class="tab-pane " id="3docean">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
<h4 style="background: #ab0f34; color: white;">
18,000+ 3D Models &amp; Accessories from $1
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">3D Models</a></li>
<li><a href="javascript:void(0);">Cars</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">HDRI Images</a></li>
<li><a href="javascript:void(0);">CG Textures</a></li>
<li><a href="javascript:void(0);">Materials &amp; Shaders</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Base Meshes</a></li>
<li><a href="javascript:void(0);">Scripts &amp; Plugins</a></li>
<li><a href="javascript:void(0);">2D Concepts</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Animation Data</a></li>
<li><a href="javascript:void(0);">Render Setup</a></li>
<li><a href="javascript:void(0);">More</a></li>
</ul>
</div>
</div>
<div class="tab-pane " id="graphicriver">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
<h4 style="background: #308eb1; color: white;">
285,000+ Stock Graphics Files from $1
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">Graphics</a></li>
<li><a href="javascript:void(0);">Print</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Web Elements</a></li>
<li><a href="javascript:void(0);">Add-ons</a></li>
<li><a href="javascript:void(0);">Vectors</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Presentations</a></li>
<li><a href="javascript:void(0);">Infographics</a></li>
<li><a href="javascript:void(0);">Icons</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Fonts</a></li>
<li><a href="javascript:void(0);">Logos</a></li>
<li><a href="javascript:void(0);">More</a></li>
</ul>
</div>
</div>
<div class="tab-pane " id="audiojungle">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="padding:0 15px;">
<h4 style="background: #9ac130; color: white;">
195,800 Royalty Free Audio Files from $1
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">Music</a></li>
<li><a href="javascript:void(0);">Music Packs</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Sound Effects</a></li>
<li><a href="javascript:void(0);">Sound Packs</a></li>
<li><a href="javascript:void(0);">Custom Sounds</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Source Files</a></li>
<li><a href="javascript:void(0);">Source Packs</a></li>
<li><a href="javascript:void(0);">Custom Source</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Logos</a></li>
<li><a href="javascript:void(0);">Idents</a></li>
<li><a href="javascript:void(0);">More ...</a></li>
</ul>
</div>
</div>
<div class="tab-pane " id="photodune">
<ul class="row">
<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dropdown-header text-center" style="margin: 0 -1px; width: calc(100% + 2px); padding:0 15px;">
<h4 style="background: #0f8c98 ; color: white;">
Royalty Free Stock Photography from $3
</h4>
</li>
</ul>
<div class="divided">
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">All Items</a></li>
<li><a href="javascript:void(0);">Animals</a></li>
<li><a href="javascript:void(0);">Architecture</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Business</a></li>
<li><a href="javascript:void(0);">Food</a></li>
<li><a href="javascript:void(0);">Health</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Sports</a></li>
<li><a href="javascript:void(0);">People</a></li>
<li><a href="javascript:void(0);">Technology</a></li>
</ul>
<ul class="col-sm-3 col-xs-6 col-md-3 h-divided">
<li><a href="javascript:void(0);">Travel</a></li>
<li><a href="javascript:void(0);">Nature</a></li>
<li><a href="javascript:void(0);">More ...</a></li>
</ul>
</div>
</div>
</div>
						</div>
					</li>
					<!-- Accordion demo -->
		            <li class="dropdown megamenu-hw"><a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Accordion<b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li>
		                  <div class="megamenu-content">
		                    <div class="row">
		                      	<div id="accordion" class="panel-group">
		                        <div class="panel panel-default">
		                          <div class="panel-heading">
		                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a></h4>
		                          </div>
		                          <div id="collapseOne" class="panel-collapse collapse in">
		                            <div class="panel-body">Ut consectetur ullamcorper purus a rutrum. Etiam dui nisi, hendrerit feugiat scelerisque et, cursus eu magna. </div>
		                          </div>
		                        </div>
		                        <div class="panel panel-default">
		                          <div class="panel-heading">
		                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a></h4>
		                          </div>
		                          <div id="collapseTwo" class="panel-collapse collapse">
		                            <div class="panel-body">Nullam pretium fermentum sapien ut convallis. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. </div>
		                          </div>
		                        </div>
		                        <div class="panel panel-default">
		                          <div class="panel-heading">
		                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a></h4>
		                          </div>
		                          <div id="collapseThree" class="panel-collapse collapse">
		                            <div class="panel-body">Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed vitae ipsum non nibh mattis congue eget id augue. </div>
		                          </div>
		                        </div>
		                      </div>
		                    </div>
		                  </div>
		                </li>
		              </ul>
		            </li>
		            <!-- Classic dropdown -->
		            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Classic<b class="caret"></b></a>
		              <ul role="menu" class="dropdown-menu">
		                <li><a tabindex="-1" href="#"> Action </a></li>
		                <li><a tabindex="-1" href="#"> Another action </a></li>
		                <li><a tabindex="-1" href="#"> Something else here </a></li>
		                <li class="divider"></li>
		                <li><a tabindex="-1" href="#"> Separated link </a></li>
		              </ul>
		            </li>
					<!-- Pictures -->
		            <li class="dropdown megamenu-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pictures<b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li>
		                  <div class="megamenu-content">
		                    <div class="row">
		                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo15.jpg"></a></div>
		                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo16.jpg"></a></div>
		                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo17.jpg"></a></div>
		                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo14.jpg"></a></div>
		                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo13.jpg"></a></div>
		                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo12.jpg"></a></div>
		                    </div>
		                  </div>
		                </li>
		              </ul>
		            </li>
		            <li class="dropdown megamenu-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">WMMGM<b class="caret"></b></a>
		              <ul class="dropdown-menu pan">
		                <li>
		                  <div class="megamenu-content pan">
		                    <div class="wm-mg-menu">
								<div class="row">
									<div class="col-sm-12">
										<div class="wm-mg-menu-header">
											<h2 class="text-center">Header</h2>
											<p class="text-muted text-center">Subtitle here</p>
										</div>
										<div class="wm-mg-menu-body clearfix">
											<div class="row">
											<div class="col-sm-12" style="padding: 0 2px;">
											<ul class="list-unstyled list-inline tabs">
												<li class="nav-column w-20">Item 1</li>
												<li class="nav-column w-20">Item 2</li>
												<li class="nav-column w-20">Item 3</li>
												<li class="nav-column w-20">Item 4</li>
												<li class="nav-column w-20">Item 5</li>
											</ul>
											</div>
											</div>
											<div class="nav-column w-20">
											    <h3>Home</h3>
											    <ul>
											        <li><a href="#">Pampers Diapers</a></li>
											        <li><a href="#">Huggies Diapers</a></li>
											        <li><a href="#">Seventh Generation</a></li>
											        <li><a href="#">Diapers</a></li>
											        <li><a href="#">Derbies</a></li>
											        <li><a href="#">Driving shoes</a></li>
											        <li><a href="#">Espadrilles</a></li>
											        <li><a href="#">Loafers</a></li>
											    </ul>
											</div>
											 
											<div class="nav-column w-20">
											    <h3>Home</h3>
											    <ul>
											        <li><a href="#">Driving shoes</a></li>
											        <li><a href="#">Espadrilles</a></li>
											        <li><a href="#">Loafers</a></li>
											    </ul>
											 
											    <h3>Home</h3>
											    <ul>
											        <li><a href="#">Driving shoes</a></li>
											        <li><a href="#">Espadrilles</a></li>
											        <li><a href="#">Loafers</a></li>
											    </ul>
											</div>
											 
											<div class="nav-column w-20">
											    <h3>Home</h3>
											    <ul>
											        <li><a href="#">Pampers Diapers</a></li>
											        <li><a href="#">Huggies Diapers</a></li>
											        <li><a href="#">Seventh Generation</a></li>
											        <li><a href="#">Diapers</a></li>
											        <li><a href="#">Derbies</a></li>
											        <li><a href="#">Driving shoes</a></li>
											        <li><a href="#">Espadrilles</a></li>
											        <li><a href="#">Loafers</a></li>
											    </ul>
											</div>
											
											<div class="nav-column w-20">
											    <h3>Home</h3>
											    <ul>
											        <li><a href="#">Driving shoes</a></li>
											        <li><a href="#">Espadrilles</a></li>
											        <li><a href="#">Loafers</a></li>
											    </ul>
											 
											    <h3>Home</h3>
											    <ul>
											        <li><a href="#">Driving shoes</a></li>
											        <li><a href="#">Espadrilles</a></li>
											        <li><a href="#">Loafers</a></li>
											    </ul>
											</div>
											 
											<div class="nav-column w-20">
											    <h3 class="orange">Related Categories</h3>
											    <ul>
											        <li><a href="#">Pampers Diapers</a></li>
											        <li><a href="#">Huggies Diapers</a></li>
											        <li><a href="#">Diapers</a></li>
											    </ul>
											 
											    <h3 class="orange">Brands</h3>
											    <ul>
											        <li><a href="#">Driving shoes</a></li>
											        <li><a href="#">Espadrilles</a></li>
											    </ul>
											</div>
										</div>
									</div>
								</div>
							</div>
		                  </div>
		                </li>
		              </ul>
		            </li>
			      
				</ul>
			</div>
	  		</div>
	  		<div class="bradcrumb mtl">
	  			<ol class="breadcrumb">
				  <li><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
				  <li><a href="js_widgets.html">Javascript widgets</a></li>
				  <li class="active">Megamenu</li>
				</ol>
	  		</div>
	  		<h1>Megamenu</h1>
	  		<hr>
	  		
	  		<div class="row">
	  			<div class="col-sm-12">
	  				<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Testing new megamenu...</h3>
						</div>
						<div class="panel-body">
							<div class="wm-mg-menu">
								<div class="row">
									<div class="col-sm-12">
										<div class="wm-mg-menu">
											<div class="row">
												<div class="col-sm-12">
													<div class="wm-mg-menu-header">
														<h2 class="text-center">Header</h2>
														<p class="text-muted text-center">Subtitle here</p>
													</div>
													<div class="wm-mg-menu-body clearfix">
														<div class="row">
														<div class="col-sm-12" style="padding: 0 2px;">
														<ul class="list-unstyled list-inline tabs">
															<li class="nav-column w-20">Item 1</li>
															<li class="nav-column w-20">Item 2</li>
															<li class="nav-column w-20">Item 3</li>
															<li class="nav-column w-20">Item 4</li>
															<li class="nav-column w-20">Item 5</li>
														</ul>
														</div>
														</div>
														<div class="nav-column w-20">
														    <h3>Home</h3>
														    <ul>
														        <li><a href="#">Pampers Diapers</a></li>
														        <li><a href="#">Huggies Diapers</a></li>
														        <li><a href="#">Seventh Generation</a></li>
														        <li><a href="#">Diapers</a></li>
														        <li><a href="#">Derbies</a></li>
														        <li><a href="#">Driving shoes</a></li>
														        <li><a href="#">Espadrilles</a></li>
														        <li><a href="#">Loafers</a></li>
														    </ul>
														</div>
														 
														<div class="nav-column w-20">
														    <h3>Home</h3>
														    <ul>
														        <li><a href="#">Driving shoes</a></li>
														        <li><a href="#">Espadrilles</a></li>
														        <li><a href="#">Loafers</a></li>
														    </ul>
														 
														    <h3>Home</h3>
														    <ul>
														        <li><a href="#">Driving shoes</a></li>
														        <li><a href="#">Espadrilles</a></li>
														        <li><a href="#">Loafers</a></li>
														    </ul>
														</div>
														 
														<div class="nav-column w-20">
														    <h3>Home</h3>
														    <ul>
														        <li><a href="#">Pampers Diapers</a></li>
														        <li><a href="#">Huggies Diapers</a></li>
														        <li><a href="#">Seventh Generation</a></li>
														        <li><a href="#">Diapers</a></li>
														        <li><a href="#">Derbies</a></li>
														        <li><a href="#">Driving shoes</a></li>
														        <li><a href="#">Espadrilles</a></li>
														        <li><a href="#">Loafers</a></li>
														    </ul>
														</div>
														
														<div class="nav-column w-20">
														    <h3>Home</h3>
														    <ul>
														        <li><a href="#">Driving shoes</a></li>
														        <li><a href="#">Espadrilles</a></li>
														        <li><a href="#">Loafers</a></li>
														    </ul>
														 
														    <h3>Home</h3>
														    <ul>
														        <li><a href="#">Driving shoes</a></li>
														        <li><a href="#">Espadrilles</a></li>
														        <li><a href="#">Loafers</a></li>
														    </ul>
														</div>
														 
														<div class="nav-column w-20">
														    <h3 class="orange">Related Categories</h3>
														    <ul>
														        <li><a href="#">Pampers Diapers</a></li>
														        <li><a href="#">Huggies Diapers</a></li>
														        <li><a href="#">Diapers</a></li>
														    </ul>
														 
														    <h3 class="orange">Brands</h3>
														    <ul>
														        <li><a href="#">Driving shoes</a></li>
														        <li><a href="#">Espadrilles</a></li>
														    </ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-sm-12 mbl">
	  				<div class="back-home mbm">
						<a href="home.html" class="btn btn-icon"><i class="fa fa-chevron-circle-left"></i> back to home</a>
					</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
  	
  	</div>
    <!-- /#wrapper -->
    <footer class="site-footer toggle">
  		<div class="container">
  			<p class="text-muted text-center mtl">&copy; WhiteMind - <a href="http://www.whitemind.es" target="_blank">www.whitemind.es</a> - <a href="http://www.wmhome.es" target="_blank">www.wmhome.es</a></p>
  		</div>
  	</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css"></script>
    <script src="../js/components/jasny/jasny-bootstrap.min.js"></script>
    <script>
    	//Sticky menu
    	$(document).scroll(function () {
		    var y = $(document).scrollTop(),
		        header = $(".megamenu");
		
		    if (y >= 10) {
		        header.addClass('fixed').slideDown();
		    } else {
		        header.removeClass('fixed');
		    }
		});
		//Permite hacer click dentro del megamenu
		$(function() {
			window.prettyPrint && prettyPrint()
			$(document).on('click', '.megamenu .dropdown-menu, .sub-megamenu', function(e) {
			  e.stopPropagation()
			})
		});
		
		//Abre los dropdowns con hover
		$('.sub-drop').hover(function(){
	    	$(this).addClass('open');
		    }, function(){
			    $(this).removeClass('open');
		});
		//Megamenu
		$('.mg').click(function(){
	    	//$('.mgdiv').toggleClass('opa');
	    	//$('.mgdiv').find('li').removeClass('active');
	    	$('#myTabContent').find('div').removeClass('active');
	    	$('.sub-megamenu').find('li').removeClass('active');
	    	$('.sub-ul').removeClass('in');
	    });
	    
		$('.sub-ul li a').on('click', function (e) {
			if($(this).parent('li').hasClass('active')){
				var a = $(this).attr('href');
				a=a.replace('#', '');
				//alert(a);
				//alert($('#'+a).attr('class'));
				//$('#'+a).toggleClass('active');
			}
			$(this).parent('li').removeClass('active');
			$('#'+a).removeClass('active');
		});
		
		$('.dropdown-center-onhover').hover(function(){
			$('.sub-ul').addClass('in');
			}, function(){
			    $('.sub-ul').removeClass('in');
			    $('.sub-ul').find('li').removeClass('active');
		});
    </script>
    <script>
    //Script to include files and components
    $(".js-include").each(function(){
	    var inc=$(this);
	    $.get(inc.attr("title"), function(data){
	        inc.replaceWith(data);
	    });
	});
    </script>
  </body>
</html>