<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WMLiB</title>

    <!-- WM CSS Lib -->
    <link href="../css/wmcsslib.css" rel="stylesheet">
    <link href="../css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div id="page">
  	<div id="wrapper" class="page-wrap">
	  	<header>
	  		<div class="js-include" title="nav.html" data-class="js"></div>	
	  	</header> 
	  	<div id="page-content-wrapper">
		  	<div class="container">
		  		<div class="row">
		  		<div class="megamenu col-xs-12 col-sm-12">
		  			
					<ul class="list-unstyled list-inline">
						<h4 class="pull-left mrm mln">Sticky menu full width</h4>
						<!-- Accordion demo -->
			            <li class="dropdown megamenu-hw"><a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Accordion<b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li>
			                  <div class="megamenu-content">
			                    <div class="row">
			                      	<div id="accordion" class="panel-group">
			                        <div class="panel panel-default">
			                          <div class="panel-heading">
			                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a></h4>
			                          </div>
			                          <div id="collapseOne" class="panel-collapse collapse in">
			                            <div class="panel-body">Ut consectetur ullamcorper purus a rutrum. Etiam dui nisi, hendrerit feugiat scelerisque et, cursus eu magna. </div>
			                          </div>
			                        </div>
			                        <div class="panel panel-default">
			                          <div class="panel-heading">
			                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a></h4>
			                          </div>
			                          <div id="collapseTwo" class="panel-collapse collapse">
			                            <div class="panel-body">Nullam pretium fermentum sapien ut convallis. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. </div>
			                          </div>
			                        </div>
			                        <div class="panel panel-default">
			                          <div class="panel-heading">
			                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a></h4>
			                          </div>
			                          <div id="collapseThree" class="panel-collapse collapse">
			                            <div class="panel-body">Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed vitae ipsum non nibh mattis congue eget id augue. </div>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                  </div>
			                </li>
			              </ul>
			            </li>
			            <!-- Classic dropdown -->
			            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Classic<b class="caret"></b></a>
			              <ul role="menu" class="dropdown-menu">
			                <li><a tabindex="-1" href="#"> Action </a></li>
			                <li><a tabindex="-1" href="#"> Another action </a></li>
			                <li><a tabindex="-1" href="#"> Something else here </a></li>
			                <li class="divider"></li>
			                <li><a tabindex="-1" href="#"> Separated link </a></li>
			              </ul>
			            </li>
						<!-- Pictures -->
			            <li class="dropdown megamenu-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pictures<b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li>
			                  <div class="megamenu-content">
			                    <div class="row">
			                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo15.jpg"></a></div>
			                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo16.jpg"></a></div>
			                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo17.jpg"></a></div>
			                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo14.jpg"></a></div>
			                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo13.jpg"></a></div>
			                      <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="../assets/img/carousel/NatGeo12.jpg"></a></div>
			                    </div>
			                  </div>
			                </li>
			              </ul>
			            </li>
				      <!-- /Megamenu -->
					</ul>
				</div>
		  		</div>
		  		<div class="menu">
					<h4>Sticky menu in container</h4>
				</div>
		  		<div class="bradcrumb mtl">
		  			<ol class="breadcrumb">
					  <li><a href="home.html"><i class="fa fa-home"></i> Home</a></li>
					  <li><a href="js_widgets.html">Javascript widgets</a></li>
					  <li class="active">Sticky menu</li>
					</ol>
		  		</div>
		  		<h1>Sticky menu</h1>
		  		<hr>
		  		
		  		<div class="row">
		  			<div class="col-sm-12">
		  				<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Fake content</h3>
							</div>
							<div class="panel-body">
								
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at dignissim quam, sit amet tincidunt neque. Aenean eros nisl, suscipit sed fringilla quis, aliquet ac urna. Morbi lacinia felis rutrum velit fringilla porta. Nulla facilisi. Vestibulum blandit tortor non dui facilisis, sit amet consequat nibh dictum. Nulla non turpis leo. Aliquam vehicula convallis dui pharetra bibendum. In ut leo non odio porttitor mattis et eget nunc.</p>
								<p>Fusce suscipit nisl a commodo euismod. Proin justo nisi, consequat quis arcu nec, mattis rutrum mauris. Proin aliquam, magna id ultricies accumsan, odio diam dapibus metus, non consectetur tellus ante ac erat. Nulla facilisi. Nunc sollicitudin non urna a malesuada. Donec ut diam id mauris pretium posuere eu sed elit. Vestibulum mollis tellus ac pulvinar tincidunt.</p>
								<p>Nunc a vestibulum libero, vitae congue sem. Nullam tincidunt nisl arcu, eget elementum ligula sodales ac. Nulla in leo consectetur, egestas diam at, lobortis felis. Ut viverra mauris ut neque pharetra laoreet. Phasellus pretium odio vel tortor vulputate commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque luctus, nunc nec molestie eleifend, orci mauris sagittis diam, sit amet mattis leo velit vitae mauris. Etiam consectetur efficitur odio quis tempus. Quisque sed scelerisque ante. Etiam luctus et ipsum non fermentum. Quisque eu eleifend enim. Duis tristique tincidunt nunc quis pretium. Aenean lectus orci, tempus sit amet leo quis, sollicitudin ornare neque.</p>
								<p>Curabitur imperdiet mi mauris, ac scelerisque ex lobortis eget. Sed nec massa elit. Vivamus feugiat magna id nisl porta pulvinar in ut risus. Phasellus consectetur sem ac convallis elementum. Pellentesque eget pharetra neque. Sed ultrices odio lorem, non elementum nisi blandit ut. Aenean porta nulla non nunc dapibus eleifend. Integer sed felis a massa accumsan dictum id id nibh. Cras nec mollis risus.</p>
								<p>Suspendisse pharetra dui ac mauris ornare elementum. Etiam ullamcorper ac nulla sit amet pulvinar. Etiam ut lobortis quam, sit amet consequat sapien. Ut in ante tempor, mattis dolor vitae, blandit felis. Sed et libero tempor, sagittis diam et, interdum leo. Suspendisse lacus massa, porta eu ultrices eget, interdum quis risus. Maecenas volutpat malesuada justo in pulvinar. Aenean sit amet eleifend sem, vel eleifend quam. Nunc ultricies mi mi, congue scelerisque metus tincidunt in. Mauris lacinia ex lacus, sit amet ornare sem convallis quis.</p>
								<p>Duis quis blandit eros. Aliquam augue erat, ullamcorper at egestas eu, porttitor nec turpis. Vivamus dolor orci, pulvinar ac felis in, aliquam faucibus nibh. Sed sit amet mauris commodo, bibendum lorem sed, porttitor massa. Mauris laoreet lorem nec mattis ornare. Vestibulum ac velit metus. Vestibulum euismod odio id ligula malesuada porttitor. Fusce placerat, neque eu congue dapibus, magna dui ornare eros, nec ultrices arcu tortor non odio. Integer ut tincidunt nunc. Ut at dictum justo, sed ullamcorper libero. Sed velit orci, fringilla non placerat sit amet, posuere ac dui. Nunc rhoncus arcu egestas urna laoreet sodales. Nam sagittis convallis faucibus. Cras lacinia rhoncus mollis.</p>
								<p>Phasellus faucibus laoreet ornare. Proin diam risus, rhoncus pulvinar orci sit amet, egestas feugiat nisi. Nullam tincidunt commodo diam id fringilla. Etiam vulputate euismod quam. Proin iaculis laoreet cursus. Pellentesque fermentum lorem tincidunt elit cursus, ac consequat nisi rutrum. Sed molestie sem mauris, id interdum ipsum interdum sed. Pellentesque luctus viverra hendrerit.</p>
								<p>Mauris in lacinia est. Integer eu lectus sed dolor porttitor maximus. Morbi cursus tortor a massa tristique dignissim. Nulla a mollis est. Curabitur eu interdum eros. Integer rutrum aliquet ipsum, mollis dictum tellus finibus quis. Duis a erat a ipsum consectetur vestibulum eget sed massa. Suspendisse scelerisque massa ut interdum facilisis. Praesent ullamcorper eleifend viverra. Sed orci lorem, feugiat non neque vitae, finibus lacinia arcu. Donec mi lacus, ultricies id ex in, efficitur fermentum purus. Duis placerat, metus ac suscipit sollicitudin, diam elit iaculis leo, in vulputate ex dui vel nisi. Proin quam nunc, luctus eu sollicitudin non, laoreet a sem. Integer dignissim urna ac enim congue blandit vel quis ligula. Duis posuere vulputate justo in porttitor. Maecenas elit nibh, dictum eu nulla non, fermentum suscipit ligula.</p>
							</div>
						</div>
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-sm-12 mbl">
		  				<div class="back-home mbm">
							<a href="home.html" class="btn btn-icon"><i class="fa fa-chevron-circle-left"></i> back to home</a>
						</div>
		  			</div>
		  		</div>
		  	</div>
	  	</div>
  	</div>
    <!-- /#wrapper -->
    <footer class="site-footer toggle">
  		<div class="container">
  			<p class="text-muted text-center mtl">&copy; WhiteMind - <a href="http://www.whitemind.es" target="_blank">www.whitemind.es</a> - <a href="http://www.wmhome.es" target="_blank">www.wmhome.es</a></p>
  		</div>
  	</footer>
  	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css"></script>
    <script src="../js/components/jasny/jasny-bootstrap.min.js"></script>
    <script>
	//Sticky menu full width
	$(document).scroll(function () {
	    var y = $(document).scrollTop(),
	    	header = $(".megamenu");
	    console.log(y);
	    if (y >= 100) {
	        header.addClass('fixed').slideDown();
	    } else {
	        header.removeClass('fixed');
	    }
	});
	//Sticky menu in container
	$('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','100').removeClass('original').hide();

	scrollIntervalID = setInterval(stickIt, 10);
	
	
	function stickIt() {
	
	  var orgElementPos = $('.original').offset();
	  orgElementTop = orgElementPos.top;               
	
	  if ($(window).scrollTop() >= (orgElementTop)) {
	    // scrolled past the original position; now only show the cloned, sticky element.
	
	    // Cloned element should always have same left position and width as original element.     
	    orgElement = $('.original');
	    coordsOrgElement = orgElement.offset();
	    leftOrgElement = coordsOrgElement.left;  
	    widthOrgElement = orgElement.css('width');
	    console.log(coordsOrgElement);
	    $('.cloned').css('left',leftOrgElement+'px').css('top',101).css('width',widthOrgElement).show();
	    $('.original').css('visibility','hidden');
	  } else {
	    // not scrolled past the menu; only show the original menu.
	    $('.cloned').hide();
	    $('.original').css('visibility','visible');
	  }
	}
	//Permite hacer click dentro del megamenu
	$(function() {
		window.prettyPrint && prettyPrint()
		$(document).on('click', '.megamenu .dropdown-menu, .sub-megamenu', function(e) {
		  e.stopPropagation()
		})
	});
	
	//Abre los dropdowns con hover
	$('.sub-drop').hover(function(){
    	$(this).addClass('open');
	    }, function(){
		    $(this).removeClass('open');
	});
		
    </script>
    <script>
    //Script to include files and components
    $(".js-include").each(function(){
	    var inc=$(this);
	    $.get(inc.attr("title"), function(data){
	        inc.replaceWith(data);
	    });
	});
    </script>
  </body>
</html>